html {
  scroll-behavior: smooth;
}

html,body{
  overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: hsl(266, 64%, 96%);
    padding-top: 100px;
}

h1 {
    margin-bottom: 10px;
}
.permbajtja p {
    margin-bottom: 40px;
}

h1 {
    color: #100020;
    font-size: 40px;
}

button {
    background: #fe4365;
    width: 100px;
    border: none;
    outline: none;
    color : #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(181, 0, 127, 0.3);
    text-align: center;
    margin-left: 40%;
}

button:hover {
    color : #100020;
}
header {
  display: flex;
  align-items: center;
  padding: 15px 5%;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fe4365;
}

.logo {
  padding: 0;
  margin-right: auto;
}
#logoja {
  margin: auto;
  /* width: 130px;
  height: 45px; */
  width: auto;
  height: 45px;
}
.nav_linqet {
  list-style: none;
  display: flex;
}

.nav_linqet a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

.nav_linqet li {
  padding: 15px 20px;
  
}

.nav_linqet li a:hover {
  color: #100020;
}
footer{
  margin-top: 90px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #100020;
  height: 400px;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #c0c0c0;
  display: block;
}
.footer-permbajtja{
  margin-bottom: -60px;
  flex-direction: column;
  justify-content: space-between;
}
.div-rreshti{
  justify-content: space-between;
  display: flex!important;
  flex-wrap: wrap;
  margin-right: 10px;
  margin-left: 10px;
}
.footer-logo{
  margin-left: 140px;
  margin-top: 20px;
}
.footer-logo p{
  line-height: 35pt;
}
.footer-mes{
  margin: auto;
  margin-top: 20px;
  line-height: 33pt;
  justify-content: center;
}
.footer-mes h2 {
  line-height: 29pt;
}
.footer-mes li a:hover{
  color:#fe4365;
  text-decoration: underline;
  padding: 5px 10px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

footer li a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #c0c0c0;
  text-decoration: none;
}
footer li{
  list-style: none;
}
.footer-poshte {
  text-align: center;
  font-family: "Open Sans";
  color: #c0c0c0;
}
.footer-poshte ul li {
  line-height: 60pt;
}
.footer-djatht {
  margin-left: 10px;
  margin-top: 20px;
  margin-right: 140px;
}
.footer-djatht p {
  line-height: 35pt;
}
.footer-djatht a{
  color: #fe4365;
}

span::before {
box-sizing: border-box;
}

.footer-permbajtja h3{
  margin-left: 20px;
  text-align: left;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
#logojafooter {
margin-left: 40px;
height: 70px; 
width: auto;
height: 80px;
margin-bottom: 10px;
}
.footer-poshte ul {
  margin-left: 30px;
}
.socials{
  list-style: none;
  display: flex;
  margin: 0px 5px 0px 50px;
  
}
.socials li{
  margin: 10px 15px 10px;
}
.socials a{
  text-decoration: none;
  color: #c0c0c0;
}
.socials a i{
  font-size: 2.2rem;
}
.socials a:hover i{
  color: #fe4365;
}


#fotoPermbajtja{
    width: 40%;
    height: auto;
    margin-left: auto;
}


.p_permbajtja{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 10px;
    padding-left: 50px;
    width: 50%;
    margin-right: auto;
    line-height: 25pt;

}
p {
    font-family: "freight-text-pro",serif;
}
abbr{
    text-decoration: underline;
}
mark{
    background-color: #fe4365;
}
#magazine{
    font-style: italic;
}
#productsList{
    margin-left: 50px;
}
ul{
    margin-left: 20px;
    list-style-type: square;
}
dl dd{
    margin-left: 30px;
    font-style: italic;
}
#dl{
    border-style:double;
    border-color: #fe4365;
    background-image: url(Images/FB159500-FB-Gift-Guide-Desktop_1_1400x.webp);
    margin-right: 20px;
}
dt{
    font-weight: 640;
}
p span{
    background-color: #fe4365;
    font-size: 20px;
    outline-style: solid;
    outline-color: #100020;
    outline-width: 1px;
    outline-offset: 0px;
    background-image: linear-gradient(red,yellow,green);
}
#video{
    text-decoration: none;
    color: inherit;
}

.about{
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 150px;
}

.imgtd{
  width: auto;
  height: 650px;
  margin-left: 20px;
}

#fototd{
  width: 33.33%;
}

td{
  padding-right: 50px;
  padding-left: 0px;
}

#data2{
  padding-left: 50px;
  margin-left: 10px;
  line-height: 25pt;
}

#data1{
  padding-left: 50px;
  margin-left: 10px;
  padding-bottom: 20px;
  line-height: 25pt;
  background-image: radial-gradient(circle 150px ,red,yellow,hsl(266, 64%, 96%));
}

table{
  border: blanchedalmond;
  border-style:ridge;
  border-color:blanchedalmond ;
}


.p_paragrafi:first-letter {
  float: left;
  font-weight: bold;
  font-size: 80px;
  font-size: 8rem;
  line-height: 10px;
  line-height: 1rem;
  text-transform: uppercase;
}
