html {
  scroll-behavior: smooth;
}

html,body{
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(266, 64%, 96%);
  padding-top: 100px;
}
header {
  display: flex;
  align-items: center;
  padding: 15px 5%;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fe4365;
  z-index: 1; /* pas scaling kartes i rritet z-indexi (dimensioni z) dhe del para headerit */
}

.logo {
  padding: 0;
  margin-right: auto;
}
#logoja {
  margin: auto;
  width: auto;
  height: 45px;
}
.nav_linqet {
  list-style: none;
  display: flex;
}

.nav_linqet a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

.nav_linqet li {
  padding: 15px 20px;
  
}

@keyframes bottomboder {
  0%   {border-bottom:2px solid black;}
  25%  {border-bottom:2px solid #fe4365;}
  100% {border-bottom:2px solid black;}
  
}

.nav_linqet li a:hover {
  color: #100020;
  animation: bottomboder 0.5s;
  animation-play-state: running;
}

footer{
  margin-top: 90px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #100020;
  height: 400px;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #c0c0c0;
  display: block;
}
.footer-permbajtja{
  flex-direction: column;
  justify-content: space-between;
}
.div-rreshti{
justify-content: space-between;
display: flex!important;
flex-wrap: wrap;
  margin-right: 10px;
  margin-left: 10px;
}
.footer-logo{
margin-left: 10px;
}
.footer-mes{
margin-left: 100px;
margin-top: 20px;
line-height: 22pt;
justify-content: center;
}
.footer-mes li a:hover{
  color:#fe4365;
  text-decoration: underline;
  padding: 5px 10px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

footer li a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #c0c0c0;
  text-decoration: none;
}
footer li{
  list-style: none;
}
.footer-poshte {
text-align: center;
margin-top: 60px;
font-family: "Open Sans";
color: #c0c0c0;
}
.footer-djatht {
margin-left: 10px;
margin-top: 20px;
margin-right: 100px;
}
.footer-djatht a{
  color: #fe4365;
}
span::before {
box-sizing: border-box;
}

.footer-permbajtja h3{
margin-left: 20px;
  text-align: left;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

#logojafooter {
margin-left: 40px;
height: 70px; 
width: auto;
height: 80px;
margin-bottom: 10px;
}
.footer-poshte ul {
  margin-left: 30px;
}
.socials{
  list-style: none;
  display: flex;
  margin: 0px 5px 0px 50px;
  
}
.socials li{
  margin: 10px 15px 10px;
}
.socials a{
  text-decoration: none;
  color: #c0c0c0;
}
.socials a i{
  font-size: 2.2rem;
}
.socials a:hover i{
  color: #fe4365;
}


.pfoto {
  margin: 50px 50px 50px 50px;
  width: auto;
  height: 500px;
  border-radius: 25px;
  border: 1px solid white;
  transition: transform 0.25s;
}

.pfoto:hover{
  transform: scale(1.03);
}

#pershkrimi-produkt{
  margin: 40px;
  text-align: center;
  font-family: 'BrownMedium';
  font-size: 22px;
  color: #100020;
  margin-bottom:  40px;
}

#pershkrimi-prodhus{
  margin: 40px;
  text-align: center;
  font-family: 'BrownLight';
  font-size: 12px;
  color: #29282b;
  margin-bottom:  40px;
}
td {
  line-height: 25px;
  background-color: hsl(266, 64%, 96%);
}
#tabela{
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
}
table{
  border-spacing: 5px;
}

.button {
  background: #fe4365;
  width: 100px;
  border: none;
  outline: none;
  color : #fff;
  height: 35px;
  border-radius: 40px;
  margin-top: 10px;
  margin-bottom: 30px; 
  text-align: center;
  transition: transform 0.3s;
}
.button:hover{
  transform: translate(-2px, -2px);

}
.bannerPhotos{
  display: flex;
}

#bannerFoto1 {
  float: left;
  height: 700px;
  width: 33.33%;
}
#bannerFoto2 {
  float: right;
  height: 700px;
  width: 33.33%;
}

div.bannerPhotos{
  background-color:rgba(250, 235, 215, 0.537);
  margin-top: -21px ;
}

.banner {
  width: 40%;
  margin: auto;
  padding: 130px 130px;
}

#bannerTitle{
  font-size: 34px;
  line-height: 36px;
  text-align: center;
  color: #100020;
  font-family: 'BrownRegular', sans-serif;
  font-weight: normal;
  padding-bottom: 20px;
}
#bannerContent{
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #100020;
  font-family: 'BrownLight';
  font-weight: lighter;
}

@font-face {
  font-family: 'Brown';
  src: url(fonts/BrownLight\ Regular.ttf);
}

#buttonShop{
margin-top: 20px;
text-align: center;
border: 1px solid black;
border-radius: 5px;
width: 100px;
height: 35px;
background: #100020;
color : #fff;
font-size: 13pt;
font-family: 'BrownMedium';
transition: transform 0.5s;
}
#buttonShop:hover{
  transform: rotateX(360deg);
}

#buttonShopdiv{
  width: 33%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


#cmimi{
  padding: 10px;
  font-size: 30px;
}

#buttonMore{
margin-top: 10px;
border: 1px solid black;
border-radius: 5px;
width: 30%;
height: 40px;
background: #100020;
background-clip: border-box;
color : #fff;
text-align: center;
font-size: 14pt;
font-family: 'BrownMedium';
transition: transform 1s;
background-color: #100020;
animation: animacioniINT 5s;
animation-play-state: running;
animation-iteration-count: 100;
}

@keyframes animacioniINT {
  0%   {background-color: #100020;}
  25%  {background-color: #fe4365;border-color: #fe4365;}
  50%  {background-color: #100020;border-color: #100020}
  75%  {background-color: #fe4365;border-color: #fe4365}
  100% {background-color: #100020;}
  
}

#buttonMore:hover{
  transform: rotateY(360deg);
}

#buttonDiv{
  width: 700px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

