body {
    background-image: url('Photos/skincare.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
input[type="text"] , input[type="password"] {
    margin: 8px 0px;
    padding: 7.5px;
    width: 100%;
    border-radius: 4px;
    border-color: rgba(6, 87, 6, 0.781);
}
button[type="submit"] {
    padding: 10px;
    width: 100%;
    background-color: rgba(6, 87, 6, 1);
    border-radius: 4px;
    border-color: rgba(6, 87, 6, 0.781);
}
input[type="checkbox"] {
    background-color: rgba(6, 87, 6, 0.781);
}
.content{
    font-size: 21px;
    font-weight: bold;
}
fieldset {
    padding: 10px;
    text-align: center;
    width:350px;
    margin: 10px;
    border-style: solid ;
    border-width: medium;
    border-color: rgba(6, 87, 6, 0.781);
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    line-height: 25px;
}
legend {
    font-size: 30px;
}
a:hover{
    color:green;
}
a:visited {
    color : purple;
}