html {
  scroll-behavior: smooth;
}

html,body{
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 100px;
  background: url(Images/background.png);
  background-size: cover;
  background-attachment: fixed;    
  background-clip: border-box ;
  background-repeat: no-repeat;
  background-origin:content-box; /* nuk ndryshon asgje pasi qe background-attachment: eshte fixed; */

}
header {
  display: flex;
  align-items: center;
  padding: 15px 5%;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fe4365;
}

.logo {
  padding: 0;
  margin-right: auto;
}
#logoja {
  margin: auto;
  /* width: 130px;
  height: 45px; */
  width: auto;
  height: 45px;
}
.nav_linqet {
  list-style: none;
  display: flex;
}

.nav_linqet a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

.nav_linqet li {
  padding: 15px 20px;
  
}

@keyframes bottomboder {
  0%   {border-bottom:2px solid black;}
  25%  {border-bottom:2px solid #fe4365;}
  100% {border-bottom:2px solid black;}
}

.nav_linqet li a:hover {
  color: #100020;
  animation: bottomboder 0.5s;
  animation-play-state: running;
}

.login-box {
width: 450px;
position: absolute;
top: 30%;
left: 70%;
color: white;
}

.login-box h1 {
 float: left; 
 font-size: 40px;
 border-bottom: 5px solid white;
 margin-bottom: 25px;
 padding: 13px 0;
}

.text-box {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid white;
}

.text-box i {
  width: 26px;
  float: left;
  text-align: center;
}

.text-box input {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.submit {
  width: 100%;
  background: none;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}



  .wrapper{
    margin-top: -300px;
    max-width: 485px;
    width: 100%;
    background: #fe4365;
    padding: 22px 30px 40px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 8px 8px 8px rgb(255, 255, 255,0.2);
  }
  .wrapper p{
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 33px;
    font-weight: 500;
    text-align: center;
  }
  .wrapper .captcha-area{
    display: flex;
    height: 55px;
    margin: 20px 0 20px;
    justify-content: space-between;
  }
  .captcha-area .captcha-img{
    height: 100%;
    width: 345px;
    background: rgb(107, 81, 81);
    border-radius: 5px;
    position: relative;
  }

  .captcha-img .captcha{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    color: #fff;
    font-size: 35px;
    text-align: center;
    letter-spacing: 10px;
    transform: translate(-50%, -50%);
  }
  .wrapper button{
    margin-left: 10px;
    width: 70px;
    border: none;
    color: #fff;
    cursor: pointer;
    background: rgb(107, 81, 81);
    border-radius: 5px;
  }

    .captcha-area .reload-button i{
    transition: transform 0.3s ease;
  }
  .captcha-area .reload-button:hover i{
    transform: rotate(90deg);
  }
  .wrapper .input-area{
    height: 50px;
  }
  .input-area input{
    width: 100%;
    height: 100%;
    padding-left: 20px;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid #bfbfbf;
  }
  .input-area .check-button{
    position: absolute;
    right: 7px;
    top: 50%;
    font-size: 17px;
    height: 45px;
    padding: 0 20px;
    opacity: 0;
    transform: translateY(-50%);
  }
  .wrapper .status-text{
    display: none;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 -5px;
  }
 